<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px;"></div>

    <h1>All Gyms</h1>
    <div>
        <button class="btn btn-success mb-3"><a href="/gyms/new" style="text-decoration: none; color: inherit;">Add New Gym</a></button>
    </div>
    <ul>
        
      <% for (let gym of gyms){%>
          <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%= gym.images[0].url  %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= gym.name  %></h5>
                        <p class="card-text"><%= gym.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= gym.location  %></small>
                        </p>
                        <a href="/gyms/<%= gym._id %>"><button class="btn btn-success">Show Details</button></a>
                    </div>
                </div>
            </div>
        </div>
      <% } %>
    </ul>
  </body>
</html>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const gyms = {features:<%- JSON.stringify(gyms)%>}
</script>
<script src="/javascripts/clusterMap.js"></script>
